[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
black = "*"
pyspark = "==3.3.1"
quinn = "*"

[dev-packages]

[requires]
python_version = "3.10"
